.hero-unit
  %h3
    Community starts with friendship!
    = link_to "Learn more", about_path, id: 'learn-more'
  -# TODO - add facebook like button
  %p
    Share your friendships with the hashtag
    = link_to "#RubyFriends", twitter_url
  %span.shared-smiles-count
    #{rubyfriends_app.tweets_count} friendships so far!

%ul#smiles-list
  - paginated_tweets.map { |tweet| Tweet::HtmlPresenter.new tweet }.each do |tweet|
    %li{class: cycle('one', 'two', 'three', 'four')}
      %a.ajax_overlay{href: tweet_path(tweet.tweet)}
        = image_tag(tweet.image_url(:thumb).to_s)
      .text
        %p= raw(tweet.text)
        %small
          %span.username
            = link_to tweet.username, twitter_url(tweet.username)
          %br
          = link_to "#{time_ago_in_words tweet.published_at} ago",
            tweet.url,
            class: :timeago,
            title: tweet.published_at.iso8601

= paginate(paginated_tweets)

= ajax_overlay
