%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: "IE=edge,chrome=1" }
    %meta{ name: :viewport, content: "width=device-width, initial-scale=1.0" }
    %title #RubyFriends - Smile for the camera!
    = stylesheet_link_tag :application
    = auto_discovery_link_tag :atom, tweets_url(format: :atom), title: "#RubyFriends"
    = csrf_meta_tag
  %body
    #wrapper
      = render 'header'
      %section#main{ role: :main }
        = yield
    = javascript_include_tag :application
    = yield :javascripts
    = render 'shared/ga'
