%html
  %head
    %meta{ :charset => "utf-8" }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/
    %meta{ :name => "viewport", :content => "width=device-width" }/
    %title #RubyFriends - Smile for the camera!
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    -# TODO - add google analytics
  %body
    #wrapper
      = render 'header'
      %section#main{role: 'main'}
        = yield
      =# render 'footer'
    = javascript_include_tag 'application'
    = yield :javascripts
    = render 'shared/ga'
